.*.sw*
*.o
pish
.vscode/
.DS_Store
*Zone.Identifier
helpers/
stage_1/
stage_2/
stage_3/
stage_4/
stage_5/
.clang-format
.travis.yml
next-steps.md
ref-pish
script.sh
stage_1.md
stage_2.md
stage_3.md
stage_4.md
stage_5.md
validate
.gitignore